.svg-container {
    border-radius: 4px;
    background-color: rgba(255, 0, 0, 0);
    left: 30%;
    bottom:0;
}

.launch {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    width: 100px;
}

.reset {
    position: absolute;
    margin-top: 45px;
    margin-left: 5px;
    width: 100px;
}

.bar {
    fill: steelblue;
}

#svga1{
    position: absolute;
    height:auto;
    margin-bottom: 100px;
}