/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

html {
    height:100%;
    width: 100%;
}
body {
    width: 100%;
    height: 100%;
    color:white;
}

section {
    height: 100%;
}

.item12{
    background: url(../img/bg.png) no-repeat center;
    background-size:cover;
    height:100%;
}

.itemq{
    background: url(../img/bg_questions.png) no-repeat center;
    background-size:cover;
    heigth:100%;
}

#choix-endroit{
    background: url(../img/choix_endroit.png) no-repeat center;
    background-size:cover;
    heigth:100%;
}

#conseils{
    background: url(../img/conseils.png) no-repeat center;
    background-size:cover;
    heigth:100%;
}

#equipe{
    background: url(../img/equipe.png) no-repeat center;
    background-size:cover;
    heigth:100%;
}

.carousel {
    background-color: rgba(0, 0, 0, 0);
}

.item {
    background-color: #176261;
    height: 100%;
    width:100%;
}

.carousel-inner>.item>.fond{
    height:100%;
}

.carousel-caption{
    position: absolute;
}

.container-fluid{
    height: 100%;
    width:100%;
    padding: 0px;
    position: relative;
    overflow: hidden;
}
#carousel-example-generic{
    height:100%;
    width:100%;
}
.carousel-inner{
    width:100%;
    height:100%;
}

.fond{
    position: relative;
    height: 100%;
    float:right;
}

#arbre-vert-rond{
    position: absolute;
    top:67%;
    left:54.2%;
    height:22%;
}

#arbre-vert-droit{
    position: absolute;
    top:35%;
    left: 48%;
    height:52.5%;
}

#arbre-rose{
    position: absolute;
    top:52.3%;
    left:54.7%;
    height:40%;
}

#q1{
    position: relative;
    left:35%;
}

#q2{
    position: relative;
    left:35%;
}

#q3{
    position: relative;
    left:35%;
}

#imageQ3{
    width:75%;
}

.boutons{
    position:relative;
    top:50px;
}

.choixQ2{
    height:48px;
    width:210px;
}

.choixQ3{
    height:48px;
    max-width:500px;
}

.remarques{
    position:relative;
    top:50px;
    color: #AC0759;
    font-family: "Roboto Slab", sans-serif;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 2.27px;
    line-height: 27px;
}

.reponses {
    position: relative;
    top: 100px;
}

.nextQ {
    position: absolute;
    bottom:5%;
    right: 0;
}

.icon {
    font: normal normal normal 16px/1 FontAwesome;
    font-size: 50px;
    text-rendering: auto;
    color: #AC0759;
    float: right;
}
.icon:before {
    content: "\f0a9";
}

#espace-questions{
    position: absolute;
    right:10%;
    top:40%;
    left:60%;
    bottom:10%;
}

.calque{
    position:absolute;
    bottom:-100%;
    width:100%;
}

#boutonOui a{
    position: relative;
    top: 10%;
    left:10%;
    float: left;
}

#boutonNon a{
    position: relative;
    top: 10%;
    left:20%;
}

#chauffage a{
    position: relative;
    float: left;
}

#electricite a{
    position:relative;
    left:5%;
}

#vehicules a{
    position:relative;
    top:10px;
    float: left;
}

#les-trois a{
    position:relative;
    top:10px;
    left:5%;
}

#environnement a{
    position:relative;
    top:10px;
}

#les-deux a{
    position:relative;
    top:20px;
}

#rural{
    position: relative;
    left: 18%;
    top: 38%;
}

#image-rural{
    height:300px;
}

#ville{
    position: relative;
    left:30%;
    top: 38%;
}

#trafic{
    position: relative;
    left:42%;
    top: 38%;
}

#perso {
    position: absolute;
    bottom: 5%;
    left: 10.4%;
    height: 25%;
    width: auto;
}

#perso2 {
    position: absolute;
    bottom: 5%;
    left: 10.4%;
    height: 25%;
    width: auto;
}

#voiture{
    position: absolute;
    bottom: 5%;
    right: 20%;
    height: 20%;
    width: auto;
}

#nuage{
    position: absolute;
    bottom: 100px;
    right: 700px;
    height: 150px;
    width: auto;
    opacity: 0;
}

.fadein{
    animation: fadein 2s 1 normal forwards;
}

@keyframes fadein {
    0% { opacity: 0;}
    100% { opacity: 1; transform: translate3d(-200px,-300px,0px) scale(2.0);}
}

#cache1{
    height: 61.96%;
    float: right;
}

#cache2{
    height:100%;
}

.translate{
    animation: translate 4s linear forwards;
}

@keyframes translate {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(800px);
    }
}

.translate2{
    opacity: 1;
    transform: translate3d(-200px,-300px,0px) scale(2.0);
}
#r{
    background:url(../img/rural_j.png) no-repeat center;
    background-size: contain;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#ur{
    background:url(../img/urban_j.png) no-repeat center;
    background-size:contain;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#tr{
    background:url(../img/traffic_j.png) no-repeat center;
    background-size:contain;
    height:100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#myR,#myR2,#myR3{
    position: relative;
    left:25%;
    top:16%;
}
#myRange,#myRange2,#myRange3{
    alignment: top;
}
#value,#value2,#value3{
    position: relative;
    color: #0c0524;
    top:40%;
    float:right;
}

.bar-contain{
    position:relative;
    left:60%;
    height:60%;
    width:20%;
}

.progress {
    width: 90%;
    height:5%;
    top:40%;
    position: relative;
    background-color: rgba(255,255,255,0);
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.progress-bar {
    width: 100%;
    display: block;
    overflow: hidden;
    height: 30px;
    margin:0 auto;
    line-height: 12px;
    background: #fafafa;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent 60%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent 60%);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.6);
    position: relative;
}

.progress-in {
    display: block;
    min-width: 8px;
    height: 30px;
    background: #c54050;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #dadc38, #ac125b);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.2)), -moz-linear-gradient(left, #dadc38, #ac125b);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.2)), -o-linear-gradient(left, #dadc38, #ac125b);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.2)), linear-gradient(to right, #dadc38, #ac125b);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.svga1Button{
    position: absolute;
    right:0;
    top:50%;
}
