.checkbox {
    display: none;
}

.checkbox+.label_cb {
    float: left;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 1.2vw;
    position: relative;
    cursor: pointer;
    color: #512C51;
    line-height: 30px;
    padding-top: 3px;
    user-select: none;
}

.checkbox+.label_cb:hover, .checkbox:checked+.label_cb {
    color: rgba(81, 44, 81, 0.699);
}

.checkbox+.label_cb:before {
    content: "";
    display: inline-block;
    width: 1.6vw;
    height: 3vh;
    background: #fff;
    border-color: #512C51;
    border-style: solid;
    box-sizing: border-box;
    vertical-align: middle;
    margin: -4px 10px 0;
    transition: all .5s ease;
}

#periode_1+.label_cb:before {
    background: #BA4A5C;
}

#periode_2+.label_cb:before {
    background: #F4B483;
}

#periode_3+.label_cb:before {
    background: #5DB77B;
}

#periode_nr+.label_cb:before {
    background: #627075;
}

.checkbox[type='radio']+.label_cb:before {
    border-radius: 100%;
}

.checkbox+.label_cb:after {
    content: "";
    display: block;
    position: relative;
    left: 0.41vw;
    bottom: 1.9vh;
    width: 0vw;
    height: 0vh;
    background: #512C51;
    box-sizing: border-box;
    border-radius: 100%;
    margin: -4px 10px 0;
}

.checkbox:checked+.label_cb:after {
    width: 0.8vw;
    height: 1.6vh;
}