/* just a sample css rule to show that everything works */

footer p {
	font-size: small;
	text-align: center;
}

header {
	text-align: center;
}

header img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 5em;
	font-family: arial, helvetica;
	color: #fff;
	margin: 0;
}

.fp-slidesNav.bottom {
	bottom: 25px;
}

#infoMenu li a {
	color: #fff;
}

#fp-nav {
	background-color: #512c51;
	height: 100vh;
	width: 2.8vw;
}

#fp-nav.fp-right {
	right: 38px;
}

#fp-nav ul {
	margin: 26.5vh 0 0 0.7vw;
}

#fp-nav ul li {
	margin: 5vh 0 0 0.3vw;
}

#fp-nav ul li a span {
	background-color: white;
	height: 8px;
	width: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li:hover a span {
	width: 12px;
	height: 12px;
	margin: -6px 0px 0px -6px;
}

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span {
	height: 16px;
	width: 16px;
	margin: -8px 0 0 -8px;
}

body.fp-viewing-1stPage #fp-nav {
	top: 150vh;
}

body.fp-viewing-2ndPage #fp-nav {
	visibility: show;
	opacity: 1;
	top: 50vh;
	transition: 1s top linear;
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

.bounce {
	-moz-animation: bounce 4s infinite;
	-webkit-animation: bounce 4s infinite;
	animation: bounce 4s infinite;
}

.arrowDown {
	position: fixed;
	bottom: 1%;
	left: 50%;
	margin-left: -20px;
	width: 70px;
	height: 70px;
	background-image: url('../img/fleche_down.svg');
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 99;
}

#accueil .accueil_block {
	display: inline-block;
}

#accueil #accueil_left {
	float: left;
	height: 100vh;
	width: 41vw;
	background-color: #F2F2E3;
	margin: 0 auto;
}

#accueil #accueil_right {
	position: relative;
	float: right;
	height: 100vh;
	width: 57vw;
	background-color: transparent;
}

#pdl_logo {
	width: 14.4vw;
	height: 7.5vh;
	margin-left: 6vw;
	margin-top: 8.3vh;
}

#title_au_coeur {
	margin-top: 5vh;
	margin-left: 6vw;
	text-align: left;
	height: 22.5vh;
	width: 36.9vw;
	font-size: 4vw;
	line-height: 7.5vh;
}

.au_coeur {
	display: inline-block;
	color: #B94A5B;
	font-family: "Zilla Slab";
	font-weight: 400;
}

.archives_sonores {
	display: inline-block;
	color: #512C51;
	font-family: "Zilla Slab";
	font-weight: 700;
}

.pays_de_la_loire {
	display: inline-block;
	color: #512C51;
	font-family: "Zilla Slab";
	font-weight: 400;
}

#title_notre_patrimoine {
	margin-top: 2.7vh;
	margin-left: 6vw;
	text-align: left;
	height: 6.7vh;
	width: 30vw;
	color: #512C51;
	font-family: Ubuntu;
	font-size: 1.5vw;
	font-style: italic;
	font-weight: 400;
	line-height: 3.3vh;
}

#tips_audio {
	text-align: center;
	display: table;
	margin-top: 5.2vh;
	margin-left: 6vw;
	height: 4.2vh;
	width: 26vw;
	border-radius: 100px;
	background-color: #B94A5B;
}

#tips_audio p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #FFFFFF;
	font-family: "Ubuntu";
	font-weight: 400;
	font-size: 1.1vw;
}

#audioplayer {
	margin-top: 4.2vh;
	margin-left: 6vw;
	width: 26vw;
	height: 6vw;
}

#pButton {
	display: block;
	height: 10vh;
	width: 5.5vw;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

.play {
	background-image: url('../img/play.svg');
	background-color: transparent;
}

.pause {
	background-image: url('../img/pause.svg');
	background-color: transparent;
}

#timeline {
	width: 26vw;
	height: 4px;
	float: left;
	border-radius: 15px;
	background: #B94A5B;
}

#playhead {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: -7px;
	background: rgba(0, 0, 0, 1);
}

#timeline #current-time {
	float: left;
}

#timeline #total-time {
	float: right;
}

#discours {
	margin-top: 3.5vh;
	margin-left: 6vw;
	text-align: left;
	height: 6.5vw;
	width: 34.5vw;
	color: #512C51;
	font-family: "Zilla Slab";
	font-weight: 300;
	font-size: 1.5vw;
	line-height: 4vh;
}

#magneto {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 91.7vh;
	width: 50vw;
	margin-right: 1.2vw;
}

#welcome .welcome_block {
	display: inline-block;
}

#welcome #welcome_left {
	float: left;
	height: 100vh;
	width: 35.8vw;
	background-color: transparent;
	margin: 0 auto;
}

#welcome #welcome_right {
	position: relative;
	float: right;
	height: 100vh;
	width: 53vw;
	background-color: transparent;
}

#conseil_regional_title {
	position: absolute;
	top: 5.8%;
	left: 11.8%;
	color: #FFFFFF;
	font-family: 'Zilla Slab';
	font-weight: 400;
	font-size: 2.4vw;
	text-align: justify;
}

#description_conseil_regional_partie_1 {
	position: absolute;
	top: 12%;
	left: 14%;
	height: 32vh;
	width: 27.64vw;
	color: #FFFFFF;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: 1.1vw;
	line-height: 2.7vh;
	text-align: justify;
}

#hemicycle_img {
	position: absolute;
	top: 30%;
	left: 16.5%;
	height: 28vh;
	width: 24vw;
}

#legende_img_hemicycle {
	position: absolute;
	bottom: 8.5%;
	left: 16.5%;
	height: 32vh;
	width: 27.64vw;
	color: #FFFFFF;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-style: italic;
	font-size: 0.88vw;
	line-height: 2.7vh;
	text-align: justify;
}

#description_conseil_regional_partie_2 {
	position: absolute;
	bottom: 2%;
	left: 14%;
	height: 32vh;
	width: 27.64vw;
	color: #FFFFFF;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: 1.1vw;
	line-height: 2.7vh;
	text-align: justify;
}

#dictaphone {
	position: absolute;
	right: 30%;
	top: 14%;
	height: 55vh;
	width: 30vw;
}

#description_archive_duree {
	position: absolute;
	top: 18%;
	right: 35.5%;
	width: 18.55vw;
	height: 6vh;
	color: #FFFFFF;
	font-family: "Zilla Slab";
	font-weight: 400;
	font-size: 2.1vw;
}

#description_archive_nb_audio {
	position: absolute;
	bottom: 20%;
	right: 30%;
	color: #FFFFFF;
	font-family: "Zilla Slab";
	font-weight: 400;
	font-size: 2.1vw;
}

#description_archive_nb_audio #bande_magnetique {
	width: 6.1vw;
	height: 10vh;
}

#description_archive_duree span, #description_archive_nb_audio span {
	font-family: "Zilla Slab";
	font-weight: 700;
}

#president {
	background-image: url('../img/fond_president.svg');
}

#bobine_graph {
	margin-left: 8vw;
}

#bobine_olivier {
	position: absolute;
	right: 7%;
	bottom: -15%;
}

#bobine_vincent {
	position: absolute;
	left: 5%;
	bottom: -15%;
}

#bobine_olivier_img, #bobine_vincent_img {
	width: 33vw;
	height: 90vh;
}

.info_pres {
	position: absolute;
	bottom: 20%;
	left: 38%;
	width: 22.1vw;
	height: 45vh;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 1.5vw;
}

#info_vincent, #info_olivier {
	display: none;
}

div#bobine_vincent:hover, div#bobine_olivier:hover {
	cursor: pointer;
}

.president_name {
	color: #512C51;
	font-family: "Zilla Slab";
	font-size: 2.4vw;
	font-weight: 700;
	text-align: center;
}

.president_date, .president_partie {
	color: #512C51;
	font-family: "Ubuntu";
	font-size: 1.2vw;
	font-weight: 400;
	text-align: left;
}

.tips_click_bobine {
	color: #512C51;
	font-family: "Ubuntu";
	font-size: 1.2vw;
	font-weight: 700;
	text-align: left;
}

.president_audio_info {
	color: #512C51;
	font-family: "Ubuntu";
	font-size: 1.2vw;
	font-weight: 400;
	font-style: italic;
	text-align: left;
}

.ordre_du_jour {
	height: 40.8vh;
	width: 16.2vw;
}

div#bobine_vincent #play_vincent {
	display: none;
	position: absolute;
	left: 46%;
	bottom: 58%;
	width: 4vw;
	height: 7vh;
}

div#bobine_vincent:hover {
	transform: scale(1.05);
}

div#bobine_vincent:hover #play_vincent {
	display: block;
}

div#bobine_olivier #play_olivier {
	display: none;
	position: absolute;
	right: 41%;
	bottom: 58%;
	width: 4vw;
	height: 7vh;
}

div#bobine_olivier:hover {
	transform: scale(1.05);
}

div#bobine_olivier:hover #play_olivier {
	display: block;
}

#name_vincent {
	position: absolute;
	left: 15%;
	bottom: 5%;
	color: #512C51;
	font-family: "Zilla Slab";
	font-size: 2.1vw;
	font-weight: 500;
}

#name_olivier {
	position: absolute;
	right: 15%;
	bottom: 5%;
	color: #512C51;
	font-family: "Zilla Slab";
	font-size: 2.1vw;
	font-weight: 500;
}

#enregistrement {
	background-image: url('../img/fond_cassette.svg');
}

#enregistrement_intro {
	width: 49vw;
	display: inline-block;
}

h1 {
	display: inline-block;
	margin-left: 8vw;
	margin-top: 7vh;
	font-family: "Zilla Slab";
	color: #FFFFFF;
	font-weight: 700;
	font-size: 3vw;
	height: 7vh;
	width: 55vw;
	letter-spacing: 0.19px;
	line-height: 7vh;
}

h1 .h1_highlight {
	color: #512C51;
}

.intro {
	margin-left: 8vw;
	margin-top: 3vh;
	width: 46vw;
	font-family: "Ubuntu";
	font-weight: 400;
	font-size: 1.3vw;
	color: #512C51;
}

.separator {
	margin-left: 5vw;
	box-sizing: border-box;
	height: 2px;
	width: 11vw;
	border: 0.20vh solid #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.tips {
	margin-left: 8vw;
	margin-top: 1vh;
	height: 2.2vh;
	width: 64.3vw;
	color: #512C51;
	font-family: "Ubuntu";
	font-weight: 400;
	font-size: 1.3vw;
	font-weight: 400;
	font-style: italic;
	letter-spacing: 0.11px;
	line-height: 3.7vh;
}

.separator_2 {
	box-sizing: border-box;
	height: 2px;
	width: auto;
	border: 0.20vh solid #512C51;
	background-color: #512C51;
	border-radius: 10px;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
}

.separator_3 {
	box-sizing: border-box;
	height: 0.5px;
	width: auto;
	border: 1px solid #512C51;
	background-color: #512C51;
	border-radius: 10px;
}

#enregistrement_info {
	display: inline-block;
	margin-top: 8vh;
	margin-left: 12.4vw;
	height: 21.3vh;
	width: 26.9vw;
	border-radius: 10px;
	background-color: #FFFFFF;
	vertical-align: top;
	padding-left: 2vw;
	padding-top: 1.8vh;
	line-height: 2.8vh;
}

#enregistrement_info p {
	width: 22vw;
	margin: 0 0 0 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#enregistrement_info .enregistrement_title {
	color: #512C51;
	font-family: "Ubuntu";
	font-weight: 700;
	font-style: italic;
	font-size: 1vw;
}

#enregistrement_info .enregistrement_data {
	color: #512C51;
	font-family: "Ubuntu";
	font-weight: 400;
	font-style: italic;
	font-size: 1vw;
}

#graph_k7 {
	position: absolute;
	left: 2%;
	bottom: 18%;
	height: 40vh;
	width: 85vw;
	padding-left: 0.5vw;
	padding-right: 0.4vw;
}

.slick-next:before {
	content: "";
	border: solid #B94A5B;
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 0.6vw;
	transform: rotate(-45deg);
}

.slick-prev:before {
	content: "";
	border: solid #B94A5B;
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 0.6vw;
	transform: rotate(135deg);
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
	opacity: 0;
}

#filter_graph_1 {
	position: absolute;
	top: 32%;
	left: 8%;
}

#filter_graph_2 {
	position: absolute;
	top: 36%;
	left: 8%;
}

.k7_hover:hover {
	transform: scale(2);
	cursor: pointer;
	transition: all .3s linear;
}

.slick-slide {
	padding-top: 2vh;
}

.micro_hover:hover {
	transform: scale(1.5);
	transition: all .3s linear;
}

#info_audio_button {
	position: absolute;
	top: 14vh;
	right: 18vw;
	height: 10vh;
	width: 5.5vw;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
	visibility: hidden;
}

#reunion {
	background-image: url('../img/fond_reunion.svg');
}

#reunion_graph {
	margin-left: 8vw;
	margin-top: 12vh;
}

#micro_reunion {
	position: absolute;
	left: 10%;
	bottom: 21%;
	height: 44.5vh;
	width: 20.1vw;
}

#micro_reunion_bouton_periode_1 {
	position: absolute;
	left: 13%;
	bottom: 23%;
	height: 4.8vh;
	width: 4.1vw;
	cursor: pointer;
}

#micro_reunion_bouton_periode_2 {
	position: absolute;
	left: 17.9%;
	bottom: 22%;
	height: 4.8vh;
	width: 4.1vw;
	cursor: pointer;
}

#micro_reunion_bouton_periode_3 {
	position: absolute;
	left: 23%;
	bottom: 23%;
	height: 4.8vh;
	width: 4.1vw;
	cursor: pointer;
}

#micro_reunion_periode_1 {
	position: absolute;
	left: 13.5%;
	bottom: 14%;
	height: 4.8vh;
	width: 4.1vw;
}

#micro_reunion_periode_2 {
	position: absolute;
	left: 18.5%;
	bottom: 14%;
	height: 4.8vh;
	width: 4.1vw;
}

#micro_reunion_periode_3 {
	position: absolute;
	left: 23.5%;
	bottom: 14%;
	height: 4.8vh;
	width: 4.1vw;
}

.micro_reunion_periode_numero {
	border-radius: 50%;
	width: 2.11vw;
	height: 3.87vh;
	background: #FFFFFF;
	color: #512C51;
	text-align: center;
	font-family: 'Ubuntu';
	font-weight: 700;
	font-size: 1.5vw;
}

.micro_reunion_periode_date {
	color: #512C51;
	font-family: 'Ubuntu';
	font-weight: 500;
	font-size: 1vw;
}

#separator_v1 {
	position: absolute;
	left: 12%;
	bottom: 9%;
}

#separator_v2 {
	position: absolute;
	left: 17%;
	bottom: 9%;
}

.separator_vertical {
	margin-left: 5vw;
	box-sizing: border-box;
	height: 10vh;
	width: 2px;
	border: 0.20vh solid #502C50;
	border-radius: 10px;
}

#mot_cle {
	background-image: url('../img/fond_mot_cle.svg');
}

#bobine_theme_periode_1 {
	position: absolute;
	left: -7%;
	bottom: 65%;
	height: 18.3vh;
	width: 9vw;
	z-index: 10;
}

#bobine_theme_periode_1:hover {
	transform: scale(1.10);
	transition: all .2s linear;
	cursor: pointer;
}

#bobine_theme_periode_2 {
	position: absolute;
	left: -7%;
	bottom: 34%;
	height: 18.3vh;
	width: 9vw;
	z-index: 10;
}

#bobine_theme_periode_2:hover {
	transform: scale(1.10);
	transition: all .2s linear;
	cursor: pointer;
}

#bobine_theme_periode_3 {
	position: absolute;
	left: -7%;
	bottom: 3%;
	height: 18.3vh;
	width: 9vw;
	z-index: 10;
}

#bobine_theme_periode_3:hover {
	transform: scale(1.10);
	transition: all .2s linear;
	cursor: pointer;
}

#graph_theme {
	position: absolute;
	left: 10%;
	bottom: 8%;
	height: 62.5vh;
	width: 60vw;
}

#bye .bye_block {
	display: inline-block;
}

#bye #bye_left {
	float: left;
	height: 100vh;
	width: 41vw;
	background-color: #F2F2E3;
	margin: 0 auto;
}

#end_field {
	margin-top: 16vh;
	margin-left: 7vw;
	text-align: left;
	height: 16.7vh;
	width: 20vw;
	font-size: 4vw;
	line-height: 7.5vh;
}

.la_seance {
	display: inline-block;
	color: #512C51;
	font-family: "Zilla Slab";
	font-weight: 700;
}

.est_levee {
	display: inline-block;
	color: #B94A5B;
	font-family: "Zilla Slab";
	font-weight: 400;
}

#contribution {
	margin-left: 7vw;
	margin-top: 2vh;
	height: 15vh;
	width: 28vw;
	color: #512C51;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: 1.4vw;
}

#audioplayer_end {
	margin-top: 4.2vh;
	margin-left: 7vw;
	width: 26vw;
	height: 6vw;
}

#pButton_end {
	display: block;
	height: 10vh;
	width: 5.5vw;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	outline: none;
}

#timeline_end {
	width: 26vw;
	height: 4px;
	float: left;
	border-radius: 15px;
	background: #B94A5B;
}

#playhead_end {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: -7px;
	background: rgba(0, 0, 0, 1);
}

#timeline_end #current-time_end {
	float: left;
}

#timeline_end #total-time_end {
	float: right;
}

#mail_field {
	margin-top: 12vh;
	text-align: left;
	height: 11vh;
	width: 20.8vw;
	color: #512C51;
	font-family: 'Ubuntu';
	font-size: 1.2vw;
	font-weight: 700;
}

#picto_mail {
	position: absolute;
	bottom: 13%;
	left: 26.5%;
	height: 11.8vh;
	width: 6.45vw;
}

#bye #bye_right {
	position: relative;
	float: right;
	height: 100vh;
	width: 59vw;
	background-color: #FFFFFF;
}

#marto {
	position: absolute;
	right: 18%;
	top: 5%;
	height: 40vh;
	width: auto;
}

#AGR_ecole {
	position: absolute;
	bottom: 41.5%;
	right: 68%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-size: 1.3vw;
	font-weight: 700;
}

#AGR_profession {
	position: absolute;
	bottom: 38%;
	right: 75%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-size: 1.3vw;
	font-weight: 400;
	font-style: italic;
}

#Polytech_ecole {
	position: absolute;
	bottom: 41.5%;
	right: 47%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-size: 1.3vw;
	font-weight: 700;
}

#Polytech_profession {
	position: absolute;
	bottom: 38%;
	right: 53.5%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-size: 1.3vw;
	font-weight: 400;
	font-style: italic;
}

#scom_ecole {
	position: absolute;
	bottom: 41.5%;
	right: 18%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-size: 1.3vw;
	font-weight: 700;
}

#scom_prof {
	position: absolute;
	bottom: 38%;
	right: 19.5%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-size: 1.3vw;
	font-weight: 400;
	font-style: italic;
}

#picto_agr {
	position: absolute;
	bottom: 28%;
	left: 7%;
	height: 12vh;
	width: 6vw;
}

#AGR_field {
	position: absolute;
	bottom: 29.5%;
	left: 18%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: .8vw;
}

#picto_polytech {
	position: absolute;
	bottom: 29%;
	left: 34%;
	height: 10vh;
	width: 6.8vw;
}

#Polytech_field {
	position: absolute;
	bottom: 31%;
	left: 44%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: .8vw;
}

#picto_com {
	position: absolute;
	bottom: 27%;
	left: 56%;
	height: 14.4vh;
	width: 6.3vw;
}

#com_field {
	position: absolute;
	bottom: 31%;
	left: 65%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-weight: 400;
	font-size: .8vw;
}

#partenaires {
	position: absolute;
	bottom: 20%;
	left: 7.5%;
	color: #512C51;
	font-family: 'Ubuntu';
	font-size: 1.5vw;
	font-weight: 700;
}

#bandeau {
	position: absolute;
	bottom: 2%;
	left: 5%;
}

#bandeau li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.6vw;
}

#bandeau img {
	height: 4.8vh;
	width: auto;
}

#bandeau ul {
	text-align: center;
	padding: 0 0;
	margin-bottom: 3.5vh;
}

#bloc_noms a {
	text-decoration: none;
	color: #512C51;
}

#bloc_noms a:hover {
	font-weight: 700;
}