body{
  background-color:#4e687f;
  margin:0px;
}

#container{
  height:100vh;
  width:auto;
  max-width:1280px;
  max-height:850px;
  text-align:center;
}

.bouton{
  z-index:3;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  border-color: #ec1c24;
  cursor: pointer;

  color: #FFFFFF;
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  position: absolute;

  background-color: #EC1C24;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.5);
}


/* Page Accueil */

#accueil{
  position:relative;
  height:100vh;
  width:100vw;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#video_accueil{
  position:relative;
  display:block;
  height:100vh;
  width:100vw;
  z-index:1;
}

#bouton_accueil{
  top : 88%;
  left: 80%;
  height: 55px;
  width: 209px;
}

/* Page Présentation */

#presentation, #presentation2{
  height:100vh;
  width:100vw;
  display:none;
  z-index: 1;
  position: relative;
}

#dialogue{
  height:100vh;
  width:100vw;
  bottom: 5vh;
  left: 10vw;
  z-index: 3;
  position: absolute;
}

#bulle_presentation{
  height: 20vh;
  width: 30vw;
  top: 20vh;
  left: 40vw;
  position: absolute;
}

.oval{
  height: 2vh;
  width: 2vw;

}

#oval1{
  top : 41vh;
  left: 54vw;
  position: absolute;
}

#oval2{
  top : 41vh;
  left: 56vw;
  position: absolute;
}

#bouton_presentation{
  height: 4vh;
  width: 9vw;
  top: 42vh;
  left: 65vw;
}


#leon_mov{
  height:100vh;
  width:100vw;
  margin-left: auto;
  margin-right: auto;

  position:relative;
  z-index:1;
}


#img_fond_2, #img_fond_3{
  position:relative;
  height:99vh;
  width:auto;
  z-index:1;
}


/* Page Personnalisation */
#page_personnalisation{
  background-image:url('img/fond_slider_musee.png');
  background-repeat:no-repeat;
  background-size: cover;
  display: none;
  height:100vh;
  width:100vw;
  left:0%;
  position:absolute;
  z-index: 1;
}

#personnalisation{
  border-radius: 20px;
  position:absolute;
  text-align:center;
  top:5%;
  width:90%;
  margin-left:5%;
  height:85vh;
  background-color: #ffffff;
  color:#4e687f;
  z-index:2;
}

#objet_curseurs{
  position:absolute;
  height: 85vh;
  width:auto;
  right: 0%;
  bottom: 0%;
  z-index: 3;
}

#personnalisation2{
  position:absolute;
  text-align:center;
  top:5%;
  width:90%;
  margin-left:5%;
  height:85vh;
  color:#4e687f;
  z-index:4;
}

/* Coté gauche : personnage */

#socle_curseurs{
  width:40%;
  position:absolute;
  left:5%;
  bottom:0%;
  z-index: 4;
}

#velo_curseurs{
  left :5%;
  width: 40%;
  bottom:10%;
  height: auto;
  z-index: 4;
  position: absolute;
  float:left;
}

/* Coté Droit : curseurs */
#curseurs{
  background-color:#ffffff;
  position: relative;
  width:50%;
  float:right;
  font-size:16px;
  margin-top:5%;
  margin-right:10%;
  z-index: 4;
}

#curs_dist, #curs_theme{
  padding-top: 5px;
  margin-top:2%;
  position: relative;
  right:15%;
  float:right;
  width: 80%;
  height: 5px;
  padding-top:3%;
}

#curs_theme{
  margin-top:20%;
}

#curs_theme label, #curs_dist label{
  width: 80%;
  text-align:left;
  float:right;
  position: relative;
  top: 1px;
}

/* Style des slider */
input[type="range"] {
  display: block;
  -webkit-appearance: none;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
  width: 70%;
  height:30px;
  float:right;
  position: relative;
  top: 2px;
}
/* A faire pour les autres navigateurs */

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height:20px;
  width:20px;
  background-color: #FFFFFF;
  border: 2px solid #4E687F;
  border-radius: 100%;
  cursor: pointer;
  transition: .3s ease-in-out;
}

input[type=range]::-moz-range-progress {
  height:8px;
  background-color: #4E687F;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height:8px;
  background-color: #D5D5d5;
  border-radius: 3px;
}

/* Style des labels */
.range-labels-dist, .range-labels-theme {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;
}

.range-labels-dist li, .range-labels-theme li {
    position: relative;
    float:right;
    text-align: right;
    font-size: 12px;
    color: #4e687f;
    text-transform: uppercase;
}

.range-labels-dist li {
    width:auto;
    min-width:30%;
    right:6%;
    cursor: pointer;
}

.range-labels-theme li {
    width:30%;
    cursor: pointer;
    right:-5%;
}

.active {
  color: #37adbf;
  position: relative;
  float:right;
  text-align: right;
  font-size: 12px;
  color: #4e687f;
  text-transform: uppercase;
  cursor: pointer;
  width:30%;
}

.range-labels-dist li {right:6%;}
.range-labels-theme li {right:-5%;}

/* Bouton */
#bouton_personnalisation{
  top : 80%;
  left: 80%;
  height: 55px;
  width: 155px;
}

/* Page de la carte */

#page_carte{
  display:none;
  height:100vh;
  width:100vw;
  left:0%;
  position:absolute;

}

#carte_generale{
  height:100vh;
  width:auto;
  left:0%;
  position:absolute;
  z-index: 2;
  display:none;
}

.circuit{
  z-index:3;
  height:100vh;
  width:auto;
  position:absolute;
  left:0%;
  display: none;
}

.lieu{
  z-index:1;
  height:100vh;
  width:auto;
  position:absolute;
  left:0%;
  /* display:none; */
}

#choix_lieu{
  z-index:5;
  height:auto;
  width:auto;
  position:absolute;
  left:0%;
  top:0%;
  display: block;
}

.checkbox_lieu{
  left:0%;
  margin-left: 0%;
  text-align: left;
}

legend{
  color: black;
}

fieldset {
  background: #d8d8d8;
  border: 2px solid blue;
}

#leon_carte{
  width:20%;
  height:auto;
  left:2%;
  top:50%;
  display: block;
  position:absolute;
  z-index:6;
}

#socle_carte{
  width:20%;
  height:auto;
  left:2%;
  top:75%;
  display: block;
  position:absolute;
  z-index:5;
}
