section {
  /*
  font-size: 35px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  */
  background-color: white;
}

.jeuxPersona {
  top: 0;
  position: absolute;
}

.jeux {
  background-color: #B3E540;
  background-size: 50% auto;
}

.persona {
  padding-bottom: 130px;
  text-align: center;
  /*
  height: 400px;
  margin-left: -10px;
  margin-top: -10px;
  */
}

.personaBulle{
  height: 432px;
  width: 441px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background-color: #EB4834;
  position: absolute;
  margin-left: 155px;
  float: left;
  margin-top: 32.5px;
}

.imgStep {
  height: 10px;
}

.persona .imgBulle{
  padding-left: 130px;
  padding-right: 130px;
}

.persona .imgGraph {
  padding-left: 616px;
  padding-top: 10%;
}

.persona .imgPersona {
  padding-top: 76px;
  position: absolute;
  margin-top: 32px;
  height: 450px;
  margin-left: -297px;
}

#bikeMoove {
  z-index: 9999;
}

#bikeMoove2 {
  z-index: 9999;
}

#bikeMoove3 {
  z-index: 9999;
}

.progress {
  z-index: 1000;
  display: flex;
  width: 150%;
  padding-bottom: 216px;
  padding-top: 160px; /*ici*/
  margin-top: 10px;
}

.progress .progress-track {
  position: absolute;
  top: 6px;
  margin-top: 606px;
  /*margin-top: 130px;*/
  height: 5px;
  width: 1000px;
  margin-left: 171px; /*ici*/
  background-color: #EB4834;
  z-index: 9;
}

.progress .progress-step {
  position: relative;
  min-width: 337px;
  margin-top: -20px;
  max-width: 337px;
  font-size: 12px;
  text-align: center;
}
.progress .progress-step:last-child:after {
  display: none;
}

.progress .progress-step:before {
  /*content: "\f00c";*/
  content: "\c";
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 18px;
  height: 17px;
  background: #EB4834;
  border: 4px solid #EB4834;
  border-radius: 100%;
  color: #fff;
}

.progress .progress-step:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 5px;
  background: #B3E540;
  z-index: -1;
}
.progress .progress-step.is-active {
  color: #EB4834;
}
.progress .progress-step.is-active:before {
  border: 4px solid #B3E540;
  animation: pulse 2s infinite;
}
.progress .progress-step.is-complete {
  color: #B3E540;
}
.progress .progress-step.is-complete:before {
  font-family: FontAwesome;
  font-size: 10px;
  color: #fff;
  background: #EB4834;
  border: 4px solid transparent;
}
.progress .progress-step.is-complete:after {
  background: #B3E540;
  animation: nextStep 1s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33, 131, 221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
  }
}
@keyframes nextStep {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.container {
  margin: 50px 100px;
}

.nextStep {
  position: absolute;
  right: 100px;
  bottom: -142px;
  z-index: 9999;
  cursor: pointer;
}

.progress .progress-step img {
  display: none;
  width:100px;
}


.progress .progress-step.is-active img {
  display: block;
  position: absolute;
  left: 120px;
  z-index: 9999;
  width: 129px;
  top: -73px;
  width: 93px;
  height: 82px;
}​


#mavideo {
  position: fixed;
  right: 0;
  bottom: 100px;
  z-index: 9999;
  width: auto; /* En pratique : supérieur à la largeur du viewport */
  height: 100%;
  transition: all 3s 1s;
  transform: translateY(50px);
}
@media (min-aspect-ratio: 16/9) {
  #mavideo {
    z-index: 9999;
    position: fixed;
    right: 0;
    bottom: 100px;
    top:0;
    width: 100%;
    height: auto; /* En pratique : supérieur à la hauteur du viewport */
  }
}
@media (max-aspect-ratio: 16/9) {
  #mavideo {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    top:0;
    width: auto; /* En pratique : supérieur à la largeur du viewport */
    height: 100%;
  }
}

body{font-family: sans-serif; background:#191919;}
.bubble-text{
  color: #fff;
  padding: 25px 25px;
  border-radius: 3px;
  position: absolute;
  margin-top: -737px;
  margin-left: 339px;
  height: 154px;
  width: 246px;
  color: #FFFFFF;
  font-family: RubikR;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: justify;
  background-image: url('../imgJeux/guillemets.png');
  background-repeat: no-repeat;
  background-position: -1px 25px;
}

.bubble-text::after{
  content:""; 
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  transform: rotate(90deg);
  top: 69px;
  right: 216px;
  position: absolute;
 
}

.name {
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 26px;
  font-weight: bold;
  margin-top: -785px;
  margin-left: 209px;
  line-height: 31px;
  position: absolute;
  text-align: right;
}

.bulle {
  height: 177px;
  position: absolute;
  z-index: 1;
  margin-left: -87px;
  margin-top: 92px;
}

.graphic-title {
  height: 58px;
  width: 473px;
  text-align: left;
  padding-top: 3%;
  color: #FFFFFF;
  font-family: Rubik;
  position: absolute;
  margin-left: 850px;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}

.imgDeco {
  padding-top: 321px;
  padding-left: 63px;
  position: absolute;
}

#bikeMoove {
  margin-top: -54px;
  margin-left: 142px;
  margin-top: -276px;
  position: absolute;
}

#bikeMoove2 {
  margin-top: -54px;
  margin-left: 142px;
  margin-top: -276px;
  position: absolute;
}

#bikeMoove3 {
  margin-top: -54px;
  margin-left: 142px;
  margin-top: -276px;
  position: absolute;
}

.frise{
  margin-top: -608px;
  margin-right: -92px;
  float: right;
}

.nextStep {
  border-radius: 4px;
  font-size: 12px;
  color: white;
  font-family: Rubik;
  margin-top: 60px; 
  background-color: #B3E540;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.buttonNext{
  border: 5px solid #ABDA3E;
  width: 141px;
  color: #ABDA3E;
  font-family: Rubik;
  position: relative;
  margin-top: 45px;
  margin-left: 50%;
  margin-right: 0px;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  margin-left: 1250px;
  margin-top: 590px;
  position: absolute;
  height: 60px;
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  font-family: Rubik;
  background-color: #B3E540;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.buttonImgPersona1{
  position: absolute;
  margin-left: 421px;
  z-index: 100;
  height: 75px;
  width: 75px;
  margin-top: 63px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.buttonImgPersona2{
  position: absolute;
  margin-left: 494px;
  z-index: 100;
  height: 75px;
  width: 75px;
  margin-top: 63px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.buttonImgRetour {
  position: absolute;
  margin-top: 87px;
  z-index: 100;
  margin-left: 189px;
}

/*Vue choix perso */

.sectionPersona{
  background-color: #EB4834;
}

.choixPerso {
  text-align: center;
  height: 700px;
  margin-top: -25px;
  margin-left: -10px;
  margin-bottom: -45px;
  margin-right: -10px;
  
}

.choixPersoImg {
  background-color: #FAFAFA;
  text-align: center;
  height: 98%;
  width: 70%;
  margin-top: -10px;
  border-radius: 30px;
  margin-left: 15%; 
  margin-right: 15%; 
}

.jeanne {
  position: absolute;
  margin-top: 10px;
  margin-top: 217px;
  margin-left: -367px;
  opacity: 1;
}

.camille {
  position: absolute;
  margin-top: 10px;
  margin-top: 250px;
  margin-left: -148px;
}

.jerome {
  position: absolute;
  margin-top: 206px;
  margin-left: 96px;
}

.descriptionPersona {
  background-color: #EB4834;
  width: 100%;
  height: 155px;
  position: absolute;
  bottom:0;
  display: none;
}

.contentPersona {
  margin-left: 37%;
  margin-right: 33%;
  color: #FFFFFF;
  font-family: RubikR;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  text-align: justify;
  position: absolute;
  margin-top: 30px;
}

.titlePersona {
  color: #B3E540;
  font-family: Rubik;
  position: absolute;
  font-size: 36px;
  margin-top: 45px;
  font-weight: bold;
  margin-left: 25%;
  margin-right: 340px;
}

.choisir {
  background-color: rgba(235,72,52,0.3);
  border: 5px solid #ABDA3E;
  height: 51px;
  width: 141px;
  color: #ABDA3E;
  font-family: Rubik;
  position: relative;
  margin-top: 45px;
  margin-left: 50%;
  margin-right: 0px;
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
}

a {
    display: block;
    color: #ABDA3E;
    text-decoration: none;
}

a:hover {
    color: #ABDA3E;
    text-decoration: none;
}

.high-title {
  height: 135px;
  margin-left: 25%;
  position: absolute;
  margin-top: 56px;
  width: 657px;
  color: #EB4834;
  font-family: RubikB;
  font-size: 45px;
  font-weight: 900;
  line-height: 45px;
  position: absolute;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1252px) {
  .sectionPersona {
    background-color: yellow;
  }
  .choixPersoImg {
    width: 800px;
    margin-left: 17%;
  }
  .high-title {
    margin-left: 20%;
  }
  .contentPersona {
    margin-left: 390px;
  }
  .titlePersona {
    margin-left: 230px;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1180px) {
  .sectionPersona {
    background-color: blue;
  }
  .choixPersoImg {
    margin-left: 14%;
  }
  .titlePersona {
    margin-left: 22%;
  }
  .contentPersona {
    margin-left: 35%;
  }

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1100px) {
  .sectionPersona {
    background-color: olive;
  }
  .choixPersoImg {
    margin-left: 13%;
  }
  .contentPersona {
    margin-left: 43%;
  }
  .contentPersona {
    margin-left: 35%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 1050px) {
  .sectionPersona {
    background-color: blue;
  }
  .choixPersoImg {
    margin-left: 10%;
  }
  .high-title {
    margin-left: 13%;
  }
  .contentPersona {
    margin-left: 38%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 980px) {
  .sectionPersona {
    background-color: red;
  }
  .contentPersona {
    margin-left: 45%;
  }
  .choixPersoImg {
    margin-left: 5%;
  }
  .titlePersona {
    margin-left: 14%;
  }
  .contentPersona {
    margin-left: 30%;
  }
}

@font-face {
  font-family: 'Rubik';
  src: url(../font/Rubik-Medium.ttf);
}

@font-face {
  font-family: 'RubikR';
  src: url(../font/Rubik-Regular.ttf);
}

@font-face {
  font-family: 'RubikB';
  src: url(../font/Rubik-Bold.ttf);
}