/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
  text-align: center;
}

body {
  background-color: #151515;
  color: white;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}
.buttonmenu {
  position: absolute;

   right: 0px;"
  color: #222222;

}
