/* just a sample css rule to show that everything works */

footer p
{
  font-size: small;
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}

.forJuxta{
  width: 600px;
}


/* DIAPO 1 */

#section1{
  background-color: #FCEA10;
}

h2 {
	color: #312783;
	font-family: Roboto;
	font-size: 47.38px;
	font-style: italic;
	font-weight: 900;
	line-height: 15%;
}

h3 {
	color: #312783;
	font-family: Roboto;
	font-size: 18.22px;
	font-style: italic;
	font-weight: bold;
	line-height: NaNpx;
}

.images_petit {
width:800px;
height:454px;
}
