/* Basic */

footer p
{
  font-size: small;
  text-align: center;
}
.haut{
  text-align: center;
}

header{
  text-align: center;
}

header img{
  max-width: 100%;
	height: auto;
}
h2 {
	color: #312783;
	font-family: Roboto;
	font-size: 47.27px;
	font-style: italic;
	font-weight: 900;
	line-height: NaNpx;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
	color: #312783;
	font-family: Roboto;
	font-size: 18.22px;
	font-style: italic;
	font-weight: bold;
	line-height: 21px;
	text-align: center;
}

/* Arrow */
.arrow {
  cursor: pointer;
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: #312783;
  border-width: 0px 1px 1px 0px;

  transition: border-width 150ms ease-in-out;
  z-index: 100;
  margin: auto;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
  z-index: 100;
}

#full {
  height: 100vh;
  background-color: #312783;
  z-index: 100;
}
.down{
  margin-bottom:-15px;
  transform: rotate(45deg);
}
.up{
  margin-top : -10px;
  transform: rotate(-135deg);
}


/* DIAPO 1 */

#section1{
  background-color: #FCEA10;
}
#draggable{
  z-index: 100;
  position: absolute;
  top:31%;
  left:47%;
  cursor: move;
}

.imagesPage1{
  width: 725px;
  position: relative;
  margin: auto;
}
#conteneurRadio{
  width:55%;
  margin: auto;
}
#conteneurLigne{
  width:40%;
  margin: auto;
  margin-top: 1.5%;

  position: relative;
  /*margin-top: -15px;
  margin-bottom: 2%;*/
}
.images_petit {
height:40%;
display: block;
margin: auto;
width: 100%;
}

.imagesPage1 p {
  color: #312783;
	font-family: Roboto;
	font-size: 18.22px;
	font-weight: bold;
	line-height: 21px;
  top:93%;
  left: 45%;
  z-index: 100;
  position: absolute;
  margin-top: 0px;
  margin-bottom: -4px;
}
#sliderBackground{
  margin-left: 7%;
}
#sliderBackground2{
  /*width: 50%;
  margin: auto;*/
  display: none;
  width: 130%;
  margin-bottom: 5%;
}
/* DIAPO 2 */

#section2{
  background-color: #60BEEC;
}

#containerRnt{
  margin: auto;
  text-align: center;
}

/* DIAPO 3*/

#section3{
  background-color: #60BEEC;
}

/* DIAPO 4*/

#section4{
  background-color: #e5364a;
}

.logos
{
  display: inline-block;
}

.space
{
  margin-bottom: 50px;
}

.space2
{
  margin-top: 50px;
}
